<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>503: Service Unavailable</title>

    <link rel="icon" href="{{ relative_static_url('icon/favicon-dark-support.svg') }}" />
    <link rel="alternate icon" href="{{ relative_static_url('icon/favicon.ico') }}" />

    <link rel="apple-touch-icon" sizes="192x192" href="{{ relative_static_url('icon/pwa-icon-192.png') }}" />
    <link rel="apple-touch-icon" sizes="512x512" href="{{ relative_static_url('icon/pwa-icon-512.png') }}" />

    <link rel="stylesheet" href="{{ relative_static_url('css/global.css') }}">
    <link rel="stylesheet" href="{{ relative_static_url('css/login.css') }}">
    <link rel="stylesheet" href="{{ relative_static_url('css/register.css') }}">
</head>

<body>
    <div class="center-container">
        <div class="error-display">
            <h2 class="header">503</h2>
            <div class="body">Service Unavailable</div>
            <div class="links">
                Your server appears to be down. Try to <a class="link" href="{{ relative_url('/') }}">restart it</a>
            </div>
        </div>
    </div>
</body>

</html>